<h3>Détails du contrat</h3>
<div>
    <div>
        <label> <b> Numéro du contrat : </b></label> {{contrat.numero}}
    </div>
    <div>
        <label> <b> Date de début : </b></label> {{contrat.dateDebut}}
    </div>
    <div>
        <label> <b> Date de fin : </b></label> {{contrat.dateFin}}
    </div>
    <div>
        <label> <b> Nom de l'assuré : </b></label> {{contrat.nomAssure}}
    </div>
    <div>
        <label> <b> Numéro d'immatriculation du véhicule : </b></label> {{contrat.matriculeVehicule}}
    </div>
</div>