<div class="col-md-6 offset-md-3">
    <h3>Créer un sinistre</h3>
    <form [formGroup]="sinistreForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>Numéro du contrat</label>
            <input type="text" class="form-control" id="numeroContrat" formControlName="numeroContrat"
                 name="numeroContrat">
        </div>
    
        <div class="form-group">
            <label>Date de l'accident</label>
            <input type="date" class="form-control" id="dateAccident" formControlName="dateAccident"
                 name="dateAccident">
        </div>
    
        <div class="form-group">
            <label>Date de création</label>
            <input type="date" class="form-control" id="dateCreation" formControlName="dateCreation"
                name="dateCreation">
        </div>
    
        <div class="form-group">
            <label>Statut</label>
            <select class="form-control" id="statut" formControlName="statut"
                 name="statut">
                 <option *ngFor="let st of statuts" [ngValue]="st">
                    {{ st }}
                  </option>
            </select>
        </div>
    
        <button class="btn btn-success" type="submit">Soumettre</button>
    
    </form>
    </div> 